<% layout("./layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">Edit your Listing:</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PATCH" method="POST" novalidate class="needs-validation"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Name:</label>
                <input required class="form-control" type="text" id="name" name="campground[name]"
                    value="<%=campground.name %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input required class="form-control" type="text" id="location" name="campground[location]"
                    value="<%=campground.location %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Images:</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price:</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input required type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>">
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea required class="form-control" type="text" id="description"
                    name="campground[description]"><%= campground.description%></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <% for(let image of campground.images) { %>
        <div class="container">
            <p><%= image.filename %></p>
            <img src="<%= image.url %>" alt="" class="img-fluid mb-2" style="max-width:20%">
            <form class="d-inline" action="/campgrounds/<%=campground._id%>/<%= image.filename %>?_method=DELETE"
                method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <% } %>
        <a href="/campgrounds/<%= campground._id%>">Cancel</a>

    </div>
</div>

<script>
    //for Bootstrap custom Client-Side validation
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>